* {
    margin: 0;
	font-family: 'Poppins', sans-serif;
}
/* header start */
nav {
    background-color: #f4f8fb;
}
.navbar-brand img {
    margin-left: -30px;
}
.srh {
    border-radius: 50px;
    width: 80vh;
    padding: 8px 20px;
    color: rgb(183, 183, 183);
    font-size: 20px;
}
.glass {
    background-color: #EE674E;
    height: 33px;
    width: 33px;
    padding: 9px 0px 0px 9px;
    border-radius: 50%;
    color: white;
    margin: 7px 0px 0px -48px;
}
.glass:hover {
    background-color:#027e61;;
}
.navico i {
    color: #EE674E;
    font-size: 20px;
    background-color: #ebd2cef7;
    height: 45px;
    width: 45px;
    margin-left: 10px;
    padding: 14px 0px 0px 14px;
    border-radius: 50%;

}
.navico i:hover {
    color: white;
    background-color: #EE674E;
}
.bdg {
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0px 0px -10px;
}
.nvmenus {
    background-color: #f4f8fb;
    border-top: 1px solid rgb(217, 234, 228);
    padding: 10px 0px;
}
.nvmenus a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-size: 17px;
}
.mnico {
    font-size: 12px;
    margin-left: 5px;
}
.crl img {
    border-radius: 10px;
}
.crl:hover {
    transform: scale(1.05);
}
.inr {
    border-radius: 10px !important;
}
.inr:hover {
    border-radius: 10px !important;
}
/* header end */
/* product section start */
.prdt {
    background-image: url('Images/header-offer-bg.jpg');
    height: 38vh;
    width: 83%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.hrr {
    width: 97%;
    color: rgb(174, 174, 174);
}
.prot {
    background-color: #FFFFFF;
    height: 21vh;
    border-radius: 12px;
}
.wth {
    background-color: #F4F8FB;
    height: 105px;
    width: 105px;
    border-radius: 10px;
}
.wth img {
    height: auto;
    width: 95%;
}
.wth img:hover {
    transform: scale(1.04);
}
.wtht {
    display: grid;
    align-items: center;
}
.wtht a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.wtt {
    margin-left: -75px;
}
.wtx a {
    margin-left: -75px;
}
.wtt p {
    font-weight: bold;
    color: #027b61;
    font-size: 15px;
}
.wtt del {
    margin-left: -220px;
    font-size: small;
    font-weight: bold;
}
.img_shadow img {
    width: 100%;
    border-radius: 11px;
}
.img_shadow {
    margin:  0 !important;
    border-radius: 11px;
}
figure {
    box-sizing: border-box;
}
.img_shadow:hover {
    transform: scale(1.014);
    transition: .6s;
}
/* product section end */
/* product categories start */
.ctar img {
    height: auto;
    width: 110%;
}
.ctar img:hover {
    transform: scale(1.05);
    transition: .6s;
}
.ctrimg {
    border: 2px solid rgb(215, 225, 225);
    padding: 27px 30px;
    margin: 0px 30px;
    border-radius: 50px;
}
.ctrimg:hover {
    border: 2px solid #EE674E;
}
.ctar h4 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 20px;
}
.ctar h4:hover {
    color: #EE674E;
}
/* product categories end */
/* first product carousel start */
.allcrl1 {
    background-color: #F4F8FB;
    border-radius: 10px;
}
.ctl1tx h4 {
    color: black;
}
.btn-view {
    border:  1px solid #EE674E;
    border-radius: 7px;
    color: #EE674E;
    font-size: 16px;
    padding: 3px 12px;
    margin-left: 48px;
}
.btn-view:hover {
    background-color: #EE674E;
    color: white;
}
.imgbg img:hover {
    transform: scale(1.04);
    transition: .5s;
}
.pbg {
    display: grid;
    justify-content: center;
    align-items: center;
}
.imgbg {
    background-color: #F4F8FB;
    height: auto;
    width: 180px;
    margin-top: 25px;
    border-radius: 10px;
}
.imgbg p {
    background-color: #EE674E;
    color: white;
    width: 35%;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    border-radius: 7px;
    padding: 2px;
    margin: 8px 0px 0px 10px;
    position: absolute;
}
.card {
    margin: 10px;
}
.txx {
    color: #027b61;
    padding: 0px 10px;
}
/* first product carousel end */
/* offer image section star */
.eid-img img {
    height: 200px;
    width: 100%;
    border-radius: 10px;
}
.eid-img img:hover {
    transform: scale(1.010);
    transition: .5s;
}
/* offer image section end */
/* eid offer1 image start */
.eid img {
    height: auto;
    width: 100%;
    border-radius: 10px;
}
.eid img:hover {
    transform: scale(1.010);
    transition: .5s;
}
/* eid offer1 image end */
/* logo area start */
.scc {
    background-color: #f4f4f4;
}
.txlogo h2 {
    text-align: center;
    margin-left: 120px;
    color: #EE674E;
}
.logimg img {
    height: 80px;
    width: 120%;
    border-radius: 10px;
}
.logimg img:hover {
    transform: scale(1.010);
    transition: .5s;
}
.md-btn {
    background-color: #EE674E;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
}
.md-btn:hover {
    background-color: #d63f25;
}
/* logo area end */
/* feature section start  */
.fe {
    background-color: rgb(255, 255, 255);
    display: grid;
    justify-content: center;
}
.allfe {
    width: 100%;
}
.fee {
    background-color: #FFFFFF;
    padding: 0px 50px;
    margin-top: -100px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.circle h5 {
    padding-top: 30px;
    padding-right: 32px;
    width: 200%;
    font-size: 18px;
    text-align: center;
    margin-left: -32px;
}
.circle h5:hover {
    color: #EE674E;
}
.circle i {
    font-size: 30px;
    color: #EE674E;
    background-color: #ecf2f6;
    padding: 30px 30px;
    border-radius: 50px;
}
.circle i:hover {
    color: #FFFFFF;
    background-color: #EE674E;
}
/* feature section end */
/* Article section start */
.art h3 {
    font-size: 23px;
    font-weight: bolder;
}
.art p {
    color: rgb(33, 33, 33);
    font-size: 15px;
    font-weight: lighter;
}
.clor {
    color: #027b61;
}
/* Article section end */
/* footer start */
.mail button {
    margin-left: -90px;
    border: none;
    background-color: #EE674E;
    color: #FFFFFF;
    width: 50%;
    font-size: 15px;
    border-radius: 0px 7px 7px 0px;
}
.mail input {
    padding-right: 100px;
}
.lst i {
    font-size: 50px;
}
.ftr {
    background-color: #F4F8FB;
    border-top: 1px solid #d3d7d6;
}
.lstx h4 {
    font-size: 20px;
    font-weight: bolder;
}
.lstx a {
    text-decoration: none;
    color: rgb(56, 54, 54);
    font-size: 15px;
    line-height: 30px;
}
.lstx a:hover {
    color: #EE674E;
}
.lstx h5 {
    font-size: 15px;
    font-weight: bolder;
}
.as a {
    color: #EE674E;
}
.icos i {
    border: 1px solid  #d0d7d5;
    font-size: 15px;
    padding: 8px;
    border-radius: 50px;
    background-color: #FFFFFF;
}
.icos i:hover {
    background-color: #111926;
    color: white;
}
.box {
    background-color: #EE674E;
    width: 130%;
    border-radius: 10px;
    box-shadow: rgba(76, 76, 85, 0.2) 0px 7px 29px 0px;
}
.box i {
    color: #FFFFFF;
    font-size: 30px;
}
.ppa {
    padding: 17px 8px;
}
.teex h6 {
    color: #FFFFFF;
    font-size: 14px;
}
.teex h5 {
    color: #FFFFFF;
    font-size: 13px;
}
.iimg img {
    height: auto;
    width: 50%;
}
.hss {
    margin-left: 100px;
    cursor: pointer;
}
.aro {
    color: #EE674E;
    font-size: 30px;
    cursor: pointer;
}
/* footer end */